# Core dependencies with compatible versions
# numpy must be compatible with all packages
numpy==2.3.3

# notebooks/01_pose_overlay_video.ipynb
ipykernel==6.30.1
pandas==2.3.2
matplotlib==3.10.6
# Note: mediapipe removed due to compatibility issues 
opencv-python==4.12.0.88
yt-dlp==2025.9.23

# notebooks/02_manual_labeling_segmenting.ipynb
ipywidgets==8.1.7

# notebooks/03_lstm_shot_prediction.ipynb
scikit-learn==1.7.2
tensorflow==2.20.0
seaborn==0.13.2

# modeling/config.py
parsenvy==3.0.2
torch==2.8.0
positional-encodings==6.0.4
torchinfo==1.8.0
onnx==1.19.0
onnxruntime==1.22.1